<div>
  <tabset (click)="currentPage = 1">
    <tab *ngFor="let tab of tabs" (selectTab)="onSelectTab($event)" [heading]="tab"></tab>
  </tabset>
</div>
<div class="card">
  <div class="card-header text-center">TODO LIST {{currentTab}}</div>
  <div class="card-body">
    <div class="d-flex justify-content-center mb-3">
      <pagination
        class="m-0"
        [itemsPerPage]="3"
        [totalItems]="(todos | todoPagination : {tab: currentTab}).length"
        [maxSize]="5"
        [(ngModel)]="currentPage"
      ></pagination>
    </div>
    <ul class="list-unstyled m-0">
      <app-todo-item
        *ngFor="let todo of todos | todoPagination : {page: currentPage, tab: currentTab}"
        [name]="todo.name"
        [status]="todo.status"
        [disabled]="isAnyLoadingInProgress"
        (clickCheckbox)="onCheckboxClick(todo)"
        (clickDelete)="onDeleteClick(todo)"
        (clickEdit)="onEditClick(todo)"
      ></app-todo-item>
    </ul>
  </div>
  <div class="card-footer">
    <app-todo-input (clickAdd)="onAddClick($event)"></app-todo-input>
  </div>
</div>

<app-fullscreen-loader [isLoading]="isAnyLoadingInProgress"></app-fullscreen-loader>
